:root {
    --color_0: #ffffff;     /* Branco */
    --color_1: #0bde5f;     /* Verde claro */
    --color_2: #33077e;     /* Roxo */
}

body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Courier New';
    font-weight: bolder;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color_2);
    height: 100px;
    z-index: 99;
}

.logo{
    float: left;
    height: 70px;
    width: 70px;
    padding-top: 12px;
    padding-left: 12px;
}
.logo img {
    height: 100%;
    width: 100%;
}

.options-header {
    margin-right: 50px;
    line-height: 50px;
    float:right;
}

.options-header ul li{
    display: inline-block;
}

.options-header a{
    padding: 23px;
    color: var(--color-letters-header);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    transition: color .3s;

}

.options-header a:hover{
    color: var(--color_1);
}

.about-us {
    width: 100%;
    height: 560px;
    margin: auto;
    margin-top: 90px;
    position: absolute;
    background-color: rgb(36, 29, 29);
}

.about-us img {
    width: 50%;
    height: 100%;
    float: left;
}


.about-us-text button {
    position: absolute;
    bottom: 15%;
    right: 18%;
    text-align: center;
    background-color: var(--color_2);
    padding: 10px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s;

}

.about-us button a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Courier New';
    font-weight: bolder;
}

.about-us button:hover {
    background-color: var(--color_1);

}

.about-us-text {
    width: 300px;
    height: 400px;
    margin-top: 90px;
    float: right;
    position: relative;
    margin-right:10%;
    margin-left: 10%;
    border-style: solid;
    border-color: purple;
}

.about-us-text p{
    position: relative;
    color: var(--color_0);
    text-align: justify;
    padding: 2px;
    font-size: 11px;
    

}