@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Black.woff2') format('woff2'), url('Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.woff2') format('woff2'), url('Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'), url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.woff2') format('woff2'), url('Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.woff2') format('woff2'), url('Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBoldItalic.woff2') format('woff2'), url('Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLightItalic.woff2') format('woff2'), url('Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLight.woff2') format('woff2'), url('Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Light.woff2') format('woff2'), url('Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.woff2') format('woff2'), url('Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'), url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-LightItalic.woff2') format('woff2'), url('Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'), url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-MediumItalic.woff2') format('woff2'), url('Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'), url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Thin.woff2') format('woff2'), url('Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ThinItalic.woff2') format('woff2'), url('Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.woff2') format('woff2'), url('Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: 'Barlow';
}


/* Var */

:root {
    --color_0: #00364C;
    --color_1: #F9F9F9;
    --color_2: #333;
    --layout_height: calc(100vh - 90px);
    --layout_width: calc(100% - 100px);
}

body {
    background-color: #D7E9F7;
}

section {
    width: var(--layout_width);
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}


/* NavBar */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color_1);
    color: var(--color_0);
    box-shadow: 0 2px 9px rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 99;
    background-image: url(/img/Background-Menu.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.navbar .logo {
    position: static;
}

.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li:nth-child(5) {
    border-right: none
}

.navbar ul li {
    border-right: 6px solid;
    font-style: italic;
}

.navbar ul li a {
    position: relative;
    padding: 0 15px;
    margin: 0 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: normal;
    font-size: 15px;
}

.navbar a:hover {
    color: aqua;
}

header.sticky {
    transition: .6s;
    opacity: 0.99;
    padding: 10px 50px 10px 90px;
}


/* Best Way */

.bestWay {
    width: 100%;
    max-height: 900px;
    background-color: #630E0E;
    margin: auto;
}

.bestWay img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 900px;
    padding: 10px 50px;
}


/* About us */

.aboutUs {
    display: grid;
    height: var(--layout_height);
    max-height: 600px;
    grid-template-columns: [aboutUs-img]1fr [aboutUs-txt]1fr;
    grid-column-gap: 50px;
}

.aboutUs-img {
    grid-column: aboutUs-img;
    background-color: #630E0E;
    background-image: url(/img/AboutUs-BG.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.aboutUs-txt {
    grid-column: aboutUs-txt;
    text-align: center;
    height: 100%;
    background-color: #F6F5F4;
    border: #1B201D solid 1px;
    min-width: 300px;
}


/* Projects */

.gallery {
    height: 500px;
    display: flex;
    gap: 15px;
}

.gallery img {
    height: 100%;
    width: 100%;
}

.image-box {
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

.image-box img {
    object-fit: cover;
    transition: .5s;
}

.image-box:hover {
    flex-basis: 30%;
}


/* Team */

.ourTeam h1 {
    padding: 25px;
    font-size: 50px;
    text-align: center;
}

.team {
    height: calc(var(--layout_height) - 150px);
    display: flex;
    padding: 15px;
}

.team img {
    width: 100%;
    height: 100%;
}

.team-img {
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

.team-img img {
    object-fit: cover;
    transition: .5s;
}

.team-img:hover {
    flex-basis: 10%;
}


/* Clients */

.clients {
    background-color: #9EA7AD;
    display: grid;
    grid-template-columns: [h1]2fr [img]3fr;
    height: calc(var(--layout_height)/2);
    padding: 0 50px;
}

.cl-txt {
    font-size: 100px;
    font-weight: lighter;
    font-style: italic;
    align-self: start;
    justify-self: start;
}

.cl-img {
    align-self: center;
    justify-self: center;
    margin: 0 25px;
    width: 65%;
}


/* Contact */

.contact {
    display: grid;
    grid-template-columns: [box1]2fr [box2]1fr;
    grid-template-rows: [contact]1fr [footer]140px;
    height: var(--layout_height);
    background-color: #610D0D;
}

.contact h1 {
    font-size: 125px;
    font-weight: lighter;
    font-style: italic;
    align-self: start;
    justify-self: start;
    color: #D7E9F7;
}

#flex-ct {
    height: 100%;
    background-color: #D54836;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}


/* Footer */

footer {
    background-color: #00364A;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 18vw auto 20vw;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    padding-bottom: 25px;
}

.footer-logo {
    align-self: center;
    justify-self: center;
}

.resev {
    color: #D7E9F7;
    font-style: italic;
    align-self: flex-end;
    padding-bottom: 10px;
}